@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to force white background and clear the Next.js dark theme */
body {
  background: white !important;
  color: black !important;
  @keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 2.5s ease-in-out;
}
} 